.editor {
  &-container {
    * {
      font-family: "Marianne", arial, sans-serif;
    }
    background-color: white;

    h1,
    h2,
    h3 {
      color: #000091;
      font-weight: 700;
      margin: 1.5rem 0;
      font-size: 1.75rem;
      line-height: 2.25rem;
    }

    h2 {
      font-size: 2rem !important;
      line-height: 2.5rem !important;
    }

    h5 {
      margin: 0 0 1.5rem;
      color: #161616;
    }

    p {
      margin: 0 0 1.5rem;
      color: #3a3a3a;
    }
    ul,
    li {
      color: #3a3a3a;
    }

    a {
      text-decoration: underline;
      color: #1212FF;
    }
  }

  .add-block-menu .icon {
    background-color: #000091;
    color: #fff;
    border-radius: 0.2em;
    &:hover {
      color: #000091;
      background-color: #000091;
    }
  }
}
