.editor-content {
  background-color: white;

  * {
    font-family: "Marianne", arial, sans-serif;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #161616;
    margin: 0 0 1.5rem;
  }

  h2 {
    font-size: 1.75rem !important;
    line-height: 2.25rem !important;
  }

  h3 {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
  }

  h4 {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }

  h5,h6 {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }

  img {
    max-width: none;
    display: flex;

  }

  p {
    margin: 0 0 1.5rem;
    color: #3a3a3a;
  }

  ul,
  li {
    color: #3a3a3a;
  }

  a {
    text-decoration: underline;
    color: #1212ff;
  }

}

.editor {
  &-container {
    @extend .editor-content;
        padding-right: 3rem;
  }

  .add-block-menu .icon {
    background-color: #000091;
    color: #fff;
    border-radius: 0.2em;

    &:hover {
      color: #000091;
      background-color: #000091;
    }
  }
}

.field-diff-content {
  @extend .editor-content;

  li::marker {
    color: #3a3a3a;
  }
}

.LexicalEditorTheme__relationship{
  background: #fff;
  display: flex;
  width: 100%;
  max-width: fit-content;
  border-radius: 0px;
  .LexicalEditorTheme__relationship__title {
    color:#161616;
    font-size: 20px;
  }
  .LexicalEditorTheme__relationship__swapButton, .LexicalEditorTheme__relationship__removeButton{
        background-color: #161616;
        
  }
  .LexicalEditorTheme__relationship__label {
    visibility: hidden;
  }
  .LexicalEditorTheme__relationship__contents {
        max-width: 100%;

  }
}
.LexicalEditorTheme__quote {
    color: #161616;
    margin: 0;
    font-size: 18px;
   border-left: 4px solid #6a6af4;
   padding: 2rem 3rem 2.25rem 2.25rem;
}

.LexicalEditorTheme__hr:after {
  background-color: #ddd;
  height: 1px;
}

.LexicalEditorTheme__upload__media {
  img {
    max-width: 100%;
    height: auto;
  }
}

.LexicalEditorTheme__tableCell {
  background-color: #3a3a3a;
  .LexicalEditorTheme__paragraph{
  color: white;

  }
}
