# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=ditnd-unification-site
POSTGRES_HOST=localhost
POSTGRES_PORT=5435

# Albert
ALBERT_API_KEY=xxx
ALBERT_API_URL=https://albert.api.etalab.gouv.fr